<div class="overlay" [class.show]='loading()' [class.hidden]='!loading()'>
    <div class="cssload-wrap" id="cssload-wrap1">
        <div class="cssload-ball" id="cssload-ball1"></div>
    </div>
    <div class="cssload-wrap" id="cssload-wrap2">
        <div class="cssload-ball" id="cssload-ball2"></div>
    </div>

    <div class="cssload-wrap" id="cssload-wrap3">
        <div class="cssload-ball" id="cssload-ball4"></div>
    </div>

    <div class="cssload-wrap" id="cssload-wrap4">
        <div class="cssload-ball" id="cssload-ball4"></div>
    </div>
</div>